/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.App {
    overflow-x: hidden;
}

.closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.sliderCard {
    position: fixed;
    top: 0;
    padding: 3rem 5rem 3rem 3rem;
    background-color: white;
    width: 100vw;
    height: 100vh;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    overflow-y: scroll;
    z-index: 50;
}

.sliderCard::-webkit-scrollbar {
    display: none;
}

.description {
    text-align: justify;
}

@media(max-width: 768px) {
    .sliderCard {
        padding: 2rem 2.5rem;
    }
}